body {
    background: #86c7ff;
    font-family: Arial;
}

img {
    width: 1000px;
}

p {
    width: 1000px;
    
}


.btn_link {
    color: #fff;
    background: #4c81f7;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 85px;
    margin-bottom: 15px;
}


.btn_link:hover{
    background: #00ff9d
        
}
.center {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 0 50px;
}

.menu {
    background: #ffffff;
    padding: 30px 20px;
}

.menu__link {
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}



